[mongo]
colname = ndnvideoEC2_
lognumber = 30
dbport = 27017

[ec2]
region = "us-west-1"

[logger]
loopdelay = 3
posturi = "http://borges.metwi.ucla.edu/ec2/ndnLog/log.py/postData"
uris = ["http://hydra.remap.ucla.edu:9695/?f=xml",
	"http://borges.metwi.ucla.edu:9695/?f=xml"]
	# "http://ccngw.parc.xerox.com:9695/?f=xml",
	#"http://ndn.cs.illinois.edu:9695/?f=xml"]
hosts = {"BD69492C535993B1A27D56E3E1258F3B982F3E07E75B187191350A3A14ABAF57":"BORGES",
	"CD940B127506EECBD2298CCFDC3BC41C179611D43DB43363F00DF70EA7245AC2":"HYDRA"}

